body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  width: 100%;
}

.input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.event-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.create-account {
  margin-top: 10px;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.create-account:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f8f9fa;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.nav a,
.nav button {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav button:hover,
.nav a:hover {
  text-decoration: underline;
}

.event-container {
  padding: 20px;
}

.event-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.event-container ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.event-container li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-container li h3 {
  margin-top: 0;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.event-container li p {
  margin: 5px 0;
}

.event-container li .enter-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.event-container li .enter-button:hover {
  background-color: #0056b3;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-event-form h2 {
  text-align: center;
}

.create-event-form label {
  margin-bottom: 10px;
}

.create-event-form input,
.create-event-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-event-form button {
  
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-event-form button:hover {
  background-color: #0056b3;
}

.link {
  text-decoration: none;
  color: #000000;
}

.link:hover {
  text-decoration: underline;
}

.my-events-container {
  padding: 20px;
}

.created-events, .participating-events {
  margin-bottom: 40px;
}

.created-events ul, .participating-events ul {
  list-style-type: none;
  padding: 0;
}

.created-events li, .participating-events li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.created-events li h4, .participating-events li h4 {
  margin: 0;
  font-size: 1.5em;
}

.created-events li p, .participating-events li p {
  margin: 5px 0;
}

.delete-button {
  padding: 10px 20px;
  background-color: #b30000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: #800000;
}

.edit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-button:hover {
  background-color: #0056b3;
}

.participating-events button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.participating-events button:hover {
  background-color: #0056b3;
}